<html>
<head>

  <title>Log in</title></head><body><div>
    <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
    <script type="text/javascript">
      var lock = new Auth0Lock('{{ app.config.get('CLIENT_ID') }}', '{{ app.config.get('DOMAIN') }}', {
        auth: {
          redirectUrl: '{{ app.config.get('CALLBACK_URL') }}',
          responseType: 'code',
          params: {
            scope: '{{ app.config.get('SCOPE') }}' // Learn about scopes: https://auth0.com/docs/scopes
          }
        }
      });
    lock.show();
    </script>
    </div>